react-color-picker/node_modules
react-color-picker/.env
react-color-picker/.env.local
react-color-picker/.env.development.local
react-color-picker/.env.test.local
react-color-picker/.env.production.local
react-color-picker/.vite
react-color-picker/.idea
react-color-picker/.DS_Store
node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vite
.idea
.DS_Store